<div class="page-sidebar-wrapper">
    <!-- END SIDEBAR -->
    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
    <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
    <div class="page-sidebar navbar-collapse collapse">
        <!-- BEGIN SIDEBAR MENU -->
        <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
        <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
        <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
        <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
        <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
        <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
        <ul class="page-sidebar-menu page-header-fixed page-sidebar-menu-hover-submenu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
            <li class="nav-item start active open">
                <a href="/dashboard/" class="nav-link nav-toggle">
                    <i class="icon-screen-desktop"></i>
                    <span class="title">Dashboard</span>
                    <span class="selected"></span>
                    <!-- <span class="arrow open"></span> -->
                </a>
                <!-- <ul class="sub-menu">
                    <li class="nav-item start open">
                        <a href="/dashboard/" class="nav-link ">
                            <i class="icon-calendar"></i>
                            <span class="title">Reservas</span>
                            <span class="selected"></span>
                        </a>
                    </li>
                   <li class="nav-item start ">
                        <a href="dashboard_2.html" class="nav-link ">
                            <i class="icon-bulb"></i>
                            <span class="title">Dashboard 2</span>
                            <span class="badge badge-success">1</span>
                        </a>
                    </li>
                    <li class="nav-item start ">
                        <a href="dashboard_3.html" class="nav-link ">
                            <i class="icon-graph"></i>
                            <span class="title">Dashboard 3</span>
                            <span class="badge badge-danger">5</span>
                        </a>
                    </li>   
                </ul> -->
            </li>
            <!-- <li class="nav-item ">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="icon-home"></i>
                    <span class="title">Complejos</span>
                    <span class="arrow"></span>
                </a>                            
                <ul class="sub-menu">
                    
                {% for c in complejos %}
                    <li class="nav-item ">
                        <a href="/datos_complejo/"><i class="icon-direction"></i> {{ c.nombre }}</a>
                    </li>
                {% endfor %}
                    <li class="nav-item ">
                        <a href="/form_alta_complejo/"><i class="icon-note"></i> Agregar Complejo</a>
                    </li>       
                </ul>
               
            </li> -->
            <li class="nav-item ">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="icon-grid"></i>
                    <span class="title">Canchas</span>
                    <span class="arrow"></span>
                </a>                            
                <ul class="sub-menu">
                    <li class="nav-item ">
                        <a href="/listado_canchas/"><i class="icon-list"></i> Listado de Canchas</a>
                    </li>
                    <li class="nav-item ">
                        <a href="/form_alta_cancha/"><i class="icon-note"></i> Agregar Cancha</a>
                    </li>
                </ul>
               
            </li>
            <li class="nav-item ">                        
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="icon-size-actual"></i>
                    <span class="title">Próximo turno disponible</span>
                    <span class="arrow"></span>
                </a>
            </li>
            <li class="nav-item ">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="icon-share-alt"></i>
                    <span class="title">Crear Reserva</span>
                    <span class="arrow"></span>
                </a>
                                   
            </li>
            <li class="nav-item ">
                <div id="datepicker"></div>
            </li>
        </ul>
        <!-- END SIDEBAR MENU -->
    </div>
    <!-- END SIDEBAR -->
</div>