{% load static %}
<div class="page-header-inner ">
                <!-- BEGIN LOGO -->
                <div class="page-logo">
                    <a href="/dashboard/">
                        <img src="{% static 'web/assets/img/logoplayerone.png' %}" alt="logo" class="logo-default"/></a>
                    <div class="menu-toggler sidebar-toggler">
                        <!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
                    </div>
                </div>
                <!-- END LOGO -->
                <!-- BEGIN RESPONSIVE MENU TOGGLER -->
                <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse"> </a>
                <!-- END RESPONSIVE MENU TOGGLER -->
                <!-- BEGIN PAGE ACTIONS -->
                <!-- DOC: Remove "hide" class to enable the page header actions -->
                <div class="page-actions">
                    <div class="btn-group">
                        
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="javascript:;">
                                    <i class="icon-docs"></i> New Post </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <i class="icon-tag"></i> New Comment </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <i class="icon-share"></i> Share </a>
                            </li>
                            <li class="divider"> </li>
                            <li>
                                <a href="javascript:;">
                                    <i class="icon-flag"></i> Comments
                                    <span class="badge badge-success">4</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <i class="icon-users"></i> Feedbacks
                                    <span class="badge badge-danger">2</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- END PAGE ACTIONS -->
                <!-- BEGIN PAGE TOP -->
                <div class="page-top">

                    <div class="top-menu pull-left">

                        <ul class="nav navbar-nav ">
                            <li class="dropdown dropdown-user">
                                <a href="#!" class="dropdown-toggle">
                                    <!-- <img alt="" class="img-circle" src="{% static 'web/layouts/layout2/img/avatar3_small.jpg' %}"> -->
                                    <span class="username username-hide-on-mobile">Complejo | {{ complejo_sel.nombre }} </span>
                                    <!-- <i class="fa fa-angle-down"></i> -->
                                </a>
                                
                                <!-- <ul class="dropdown-menu dropdown-menu-default">
                                    
                                {% for c in complejos %}
                                    <li class="nav-item ">
                                        <a href="/datos_complejo/"><i class="icon-direction"></i> {{ c.nombre }}</a>
                                    </li>
                                {% endfor %}
                                    <li class="nav-item ">
                                        <a href="/form_alta_complejo/"><i class="icon-note"></i> Agregar Complejo</a>
                                    </li>       
                                </ul> -->
                            </li>
                        </ul>
                    </div>
                    <!-- END TOP NAVIGATION MENU -->

                    
                    <!-- BEGIN TOP NAVIGATION MENU -->
                    <div class="top-menu">

                        <ul class="nav navbar-nav ">
                            <li class="dropdown dropdown-user">
                                <!-- <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                    <img alt="" class="img-circle" src="{% static 'web/layouts/layout2/img/avatar3_small.jpg' %}">
                                    <span class="username username-hide-on-mobile">Complejo: {{ complejo_sel.nombre }} </span>
                                    <i class="fa fa-angle-down"></i>
                                </a> -->
                                
                                <ul class="dropdown-menu dropdown-menu-default">
                                    
                                {% for c in complejos %}
                                    <li class="nav-item ">
                                        <a href="/datos_complejo/"><i class="icon-direction"></i> {{ c.nombre }}</a>
                                    </li>
                                {% endfor %}
                                    <li class="nav-item ">
                                        <a href="/form_alta_complejo/"><i class="icon-note"></i> Agregar Complejo</a>
                                    </li>       
                                </ul>


                            </li>
                        </ul>


                        <ul class="nav navbar-nav pull-right">
                            <!-- BEGIN NOTIFICATION DROPDOWN -->
                            <!-- DOC: Apply "dropdown-dark" class below "dropdown-extended" to change the dropdown styte -->
                            <!-- DOC: Apply "dropdown-hoverable" class after below "dropdown" and remove data-toggle="dropdown" data-hover="dropdown" data-close-others="true" attributes to enable hover dropdown mode -->
                            <!-- DOC: Remove "dropdown-hoverable" and add data-toggle="dropdown" data-hover="dropdown" data-close-others="true" attributes to the below A element with dropdown-toggle class -->
                                                        
                            <!-- BEGIN USER LOGIN DROPDOWN -->
                            <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                            <li class="dropdown dropdown-user">
                                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                    <!-- <img alt="" class="img-circle" src="{% static 'web/layouts/layout2/img/avatar3_small.jpg' %}"> -->
                                    <span class="username username-hide-on-mobile"> {{ user.get_username }} </span>
                                    <i class="fa fa-angle-down"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-default">
                                    <li>
                                        <a href="/mi_perfil/">
                                            <i class="icon-user"></i> Mi Perfil </a>
                                    </li>
                                    <!-- <li>
                                        <a href="app_calendar.html">
                                            <i class="icon-calendar"></i> My Calendar </a>
                                    </li>
                                    <li>
                                        <a href="app_inbox.html">
                                            <i class="icon-envelope-open"></i> My Inbox
                                            <span class="badge badge-danger"> 3 </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="app_todo_2.html">
                                            <i class="icon-rocket"></i> My Tasks
                                            <span class="badge badge-success"> 7 </span>
                                        </a>
                                    </li>
                                    <li class="divider"> </li>
                                    <li>
                                        <a href="page_user_lock_1.html">
                                            <i class="icon-lock"></i> Lock Screen </a>
                                    </li> -->
                                    <li>
                                        <a href="/salir/">
                                            <i class="icon-logout"></i> Salir </a>
                                    </li>
                                </ul>
                            </li>
                            <!-- END USER LOGIN DROPDOWN -->
                            <!-- BEGIN QUICK SIDEBAR TOGGLER -->
                            <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                            <!-- <li class="dropdown dropdown-extended quick-sidebar-toggler">
                                <span class="sr-only">Toggle Quick Sidebar</span>
                                <i class="icon-logout"></i>
                            </li> -->
                            <!-- END QUICK SIDEBAR TOGGLER -->
                        </ul>
                    </div>
                    <!-- END TOP NAVIGATION MENU -->
                </div>
                <!-- END PAGE TOP -->
            </div>


<!-- /.navbar-header -->
<!-- <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/dashboard/">Player One</a>
</div>
 --><!-- /.navbar-header -->
<!-- <ul class="nav navbar-top-links navbar-right">
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu dropdown-user"> -->
            <!--
            <li><a href="#"><i class="fa fa-user fa-fw"></i> {{ usuario.username }} </a>
            </li>
            <li><a href="/configuracion/"><i class="fa fa-gear fa-fw"></i> Configuración </a>
            </li>
            <li class="divider"></li> -->
            <!-- <li><a href="/salir/"><i class="fa fa-sign-out fa-fw"></i> Salir </a>
            </li> 
        </ul> -->
        <!-- /.dropdown-user -->
    <!-- </li>-->
    <!-- /.dropdown -->
<!-- </ul>-->
<!-- /.navbar-top-links -->