<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li class="sidebar-search">
                <div class="input-group custom-search-form">
                    <input type="text" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                    <button class="btn btn-default" type="button">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
                </div>
                <!-- /input-group -->
            </li>
            <li>
                <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Complejos</a>
                <ul class="nav nav-second-level">
                {% for c in complejos %}
                    <li>
                        <a href="#">{{ c.nombre }}</a>
                    </li>
                {% endfor %}
                    <li>
                        <a href="/form_alta_complejo/">+ Agregar Complejo</a>
                    </li>       
                    <li>
                        <a href="/form_alta_cancha/">+ Agregar Cancha</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-table fa-fw"></i> Próximo turno disponible</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-edit fa-fw"></i> Crear Reserva</a>
            </li>
            <li>
                <div id="datepicker"></div>
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>

