<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="es">
  {% include "cabecera.html" %}
  <body class="page-header-fixed page-sidebar-closed-hide-logo page-container-bg-solid">
    <!-- BEGIN HEADER -->
    <div class="page-header navbar navbar-fixed-top">
      <!-- /.navbar-top-links -->
      {% include "barra_top.html" %}
      <!-- /.navbar-static-side -->
      {% include "barra_lat.html" %}
    </div>
    <!-- BEGIN HEADER & CONTENT DIVIDER -->
    <div class="clearfix"> </div>
    <!-- END HEADER & CONTENT DIVIDER -->
    <!-- BEGIN CONTAINER -->
    <div class="page-container">
      
      <!-- BEGIN CONTENT -->
      <div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
        <div class="page-content">
          <div id="page-wrapper">
            <input type="hidden" name="fecha" id="fecha" value="{{ fecha }}">
            <!-- BEGIN BORDERED TABLE PORTLET-->
            <div class="portlet light portlet-fit ">
                <div class="portlet-title">
                  
                  <!-- BEGIN PORTLET DATE PAGINATOR -->
                  <div class="portlet light" id="datepaginator">
                      <div class="portlet-body">
                          <!-- <h3>Default Date Paginator</h3> -->
                          <div id="elegir_fecha_paginator"> </div>
                      </div>
                  </div>
                  <!-- END PORTLET DATE PAGINATOR -->
                    
                </div>
                <div class="portlet-body">
                  <!-- <h4 class="centrado titulo">Complejo: {{ complejo_sel.nombre }} - Día: {{ fecha }}</h4> -->
                    <div class="table-scrollable">
                        <table id="tabla_reservas" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th class="centrado"> Horario </th>
                                  {% for cancha in canchas_complejo %}
                                    <th class="centrado" style="width:{{ancho}}%" >{{ cancha.nombre }}</th>
                                  {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                              {% for linea in tabla %}
                                <tr>
                                  <td class="centrado">{{ linea|get_item:'horario' }}</td>
                                {% for cancha in canchas_complejo %}
                                  <td class="centrado"><span class="label label-sm label-{{ linea|get_item:cancha.nombre }}"><a onclick="abrirHorario('{{ linea|get_item:'horario' }}', '{{ linea|get_item:'id_reserva' }}', '{{ cancha.id  }}');" >{{ linea|get_item:cancha.nombre|title }}</a></span></td>
                                {% endfor %}
                                </tr>
                              {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- END BORDERED TABLE PORTLET-->
            
                <!-- Modal -->
                <div class="modal fade" id="modalHorario" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Reserva</h4>
                      </div>
                      <div class="modal-body">
                        <form class="form-horizontal" id="form_alta_reserva" action="/alta_reserva/" method="post">
                          {% csrf_token %}
                          <input type="hidden" name="user_id" value="{{ user.id }}">
                          <input type="hidden" name="fecha" id="fecha_alta" value="{{ fecha }}">
                          <fieldset>
                            <div class="form-group">
                              <label class="col-sm-2 control-label" for="">Fecha</label>
                              <div class="col-sm-4">
                                <input id="fecha_modal" name="fecha_modal" type="text" placeholder="Jueves 22/09" class="form-control" required="">
                              </div>
                              <label class="col-sm-2 control-label" for="">Cancha</label>
                              <div class="col-sm-4">
                                <select id="cancha_select" name="cancha_select" class="form-control">
                                  {% for c in canchas_complejo %}
                                    <option value="{{ c.id }}">{{ c.nombre }}</option>
                                  {% endfor %}
                                </select>
                              </div>
                            </div>
                            <div class="form-group">
                              <label class="col-sm-2 control-label" for="">Desde</label>
                              <div class="col-sm-4">
                                <select id="horarios_desde_select" name="horarios_desde_select" class="form-control">
                                  {% for i in lista_horarios_text %}
                                    <option>{{ i }}</option>
                                  {% endfor %}
                                </select>
                              </div>
                              <label class="col-sm-2 control-label" for="">Hasta</label>
                              <div class="col-sm-4">
                                <select id="horarios_hasta_select" name="horarios_hasta_select" class="form-control">
                                  {% for i in lista_horarios_text %}
                                    <option>{{ i }}</option>
                                  {% endfor %}
                                </select>
                              </div>
                              
                            </div>
                            <div class="form-group">
                              <label class="col-sm-2 control-label" for="">Nombre</label>
                              <div class="col-sm-4">
                                <input id="" name="nombre" type="text" placeholder="Jorge" class="form-control" required="">
                              </div>
                              <label class="col-sm-2 control-label" for="">Teléfono</label>
                              <div class="col-sm-4">
                                <div class="input-group">
                                  <!-- span class="input-group-addon">+54 9</span -->
                                  <input id="" name="telefono" class="form-control" placeholder="1136561212" type="text" required="">
                                </div>
                              </div>
                            </div>
                            <div class="form-group">
                              <label class="col-sm-2 control-label" for="">Seña</label>
                              <div class="col-sm-4">
                                <input id="" name="sena" type="text" placeholder="$200" class="form-control" required="">
                              </div>
                            </div>
                          </fieldset>
                          <div class="modal-footer">
                            <input type="submit" class="btn btn-success" value="Reservar">
                            <button type="button" id="eliminarReservaButton" onclick="eliminarReserva();" class="btn btn-danger">Eliminar Reserva</button>
                          </div>
                        </form>
                        <form class="form-horizontal" id="form_eliminar_reserva" action="/eliminar_reserva/" method="post">{% csrf_token %}
                          <input type="hidden" name="id_reserva" id="id_reserva" value="">
                        </form>
                        <form class="form-horizontal" id="form_elegir_fecha" action="/dashboard/" method="post">{% csrf_token %}
                          <input type="hidden" name="fecha" id="fecha_elegida" value="">

                        </form>
                      </div>
                      
                    </div>
                    <!-- /.modal-content -->
                  </div>
                  <!-- /.modal-dialog -->
                </div>

          </div>
        </div>
      </div>
    </div>
    <!-- END CONTAINER -->
    {% include "pie.html" %}
    <script>

      var options = {
        selectedDate: '{{ fecha }}',
        selectedDateFormat:  'DD/MM/YYYY',
        onSelectedDateChanged: function(event, date) {
            $('#fecha_elegida').val(date._i);
            $("#form_elegir_fecha").submit();
        }
      };
      $('#elegir_fecha_paginator').datepaginator(options);

      function abrirHorario(horario, id_res, canchaid){

        if(id_res == '0'){
          $("#eliminarReservaButton").hide()
        }else{
          $("#eliminarReservaButton").show()
        }

        $('#cancha_select').val(canchaid);
        //$('#cancha_select').prop('disabled',true);
        
        var fecha = $('#fecha').val();
        $('#fecha_modal').val(fecha);
        //$('#fecha_modal').prop('disabled',true);
        $('#horarios_select option:contains('+horario+')').prop('selected',true);
        //$('#horarios_select').prop('disabled',true);
        $('#horarios_hasta_select option:contains('+horario+')').prop('selected',true);

        $('#horarios_hasta_select option:contains('+horario+')').prop('selected',true);

        $('#id_reserva').val(id_res);

        $('#modalHorario').modal('show');
      }

      /* Para que no se trabe el modal si la pantalla es mas chica y puedas scrollear */
      $(document).on('hidden.bs.modal', '.modal', function () {
        $('.modal:visible').length && $(document.body).addClass('modal-open');
      });

      function eliminarReserva(){
        var r = confirm("Confirmar eliminar la reserva?");
        if (r == true) {
            $("#form_eliminar_reserva").submit();
        }        
      }
    </script>
  </body>
</html>