<!DOCTYPE html>
<html lang="es">
{% include "cabecera.html" %}
<body>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <!-- /.navbar-top-links -->
            {% include "barra_top.html" %}
            <!-- /.navbar-static-side -->
            {% include "barra_lat.html" %}
        </nav>
        <div id="page-wrapper">
            <div id="panel_principal" class="panel panel-default">
                <div class="panel-heading">
                    <h4>Complejo: {{ complejo_sel.nombre }} - Día: HOY</h4>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="row">
                        <br>
                        {% for cc in canchas_complejo %}
                            <div class="col-md-3 col-sm-6 col-xs-6">
                                <div class="panel panel-green">
                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-3">
                                                <i class="fa fa-futbol-o fa-3x"></i>
                                            </div>
                                            <div class="col-xs-9 text-right">
                                                <div class="huge">{{ cc.nombre }}</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="reserva" class="panel-horarios">
                                        <li class="horario" style="background-color: #91e842;">
                                            <!-- Button trigger modal -->
                                            <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                                                <a href="#">
                                                    <i class="fa fa-clock-o fa-fw"></i> 10:00 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; LIBRE
                                                </a>
                                            </button>
                                            <!-- Modal -->
                                            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                            <h4 class="modal-title" id="myModalLabel">Reserva</h4>
                                                        </div>
                                                        <div class="modal-body">

                                                            <form class="form-horizontal">
                                                            <fieldset>
                                                              <div class="form-group">
                                                                <label class="col-md-4 control-label" for="">Cancha</label>  
                                                                <div class="col-md-5">
                                                                <input id="" name="" type="text" placeholder="Cilindro Mágico" class="form-control input-md" required="">
                                                                </div>
                                                              </div>

                                                              <div class="form-group">
                                                                <label class="col-md-4 control-label" for="">Fecha</label>  
                                                                <div class="col-md-5">
                                                                <input id="" name="" type="text" placeholder="Jueves 22/09" class="form-control input-md" required="">
                                                                </div>
                                                              </div>

                                                              <div class="form-group">
                                                                <label class="col-md-4 control-label" for="">Hora</label>  
                                                                <div class="col-md-5">
                                                                <input id="" name="" type="text" placeholder="20 hs" class="form-control input-md" required="">
                                                                </div>
                                                              </div>

                                                              <div class="form-group">
                                                                <label class="col-md-4 control-label" for="">Nombre</label>  
                                                                <div class="col-md-5">
                                                                <input id="" name="" type="text" placeholder="Jorge" class="form-control input-md" required="">
                                                                </div>
                                                              </div>

                                                              <div class="form-group">
                                                                <label class="col-md-4 control-label" for="">Teléfono</label>
                                                                <div class="col-md-5">
                                                                  <div class="input-group">
                                                                    <span class="input-group-addon">+54 9</span>
                                                                    <input id="" name="" class="form-control" placeholder="1136561212" type="text" required="">
                                                                  </div>
                                                                </div>
                                                              </div>

                                                              <div class="form-group">
                                                                <label class="col-md-4 control-label" for="">Seña</label>  
                                                                <div class="col-md-5">
                                                                <input id="" name="" type="text" placeholder="$200" class="form-control input-md" required="">
                                                                </div>
                                                              </div>

                                                            </fieldset>
                                                            </form>



                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-success">Reservar</button>
                                                            <button type="button" class="btn btn-danger">Eliminar Reserva</button>
                                                        </div>
                                                    </div>
                                                    <!-- /.modal-content -->
                                                </div>
                                                <!-- /.modal-dialog -->
                                            </div>
                                        </li>
                                        <li class="horario" style="background-color: #91e842;">
                                            <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                                            <a href="#">
                                                <i class="fa fa-clock-o fa-fw"></i> 11:00 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; LIBRE
                                            </a>
                                            </button>
                                        </li>
                                        <li class="horario" style="background-color: #91e842;">
                                            <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                                            <a href="#">
                                                <i class="fa fa-clock-o fa-fw"></i> 12:00 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; LIBRE
                                            </a>
                                            </button>
                                        </li>
                                        <li class="horario" style="background-color: #f16f5c;">
                                            <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                                            <a href="#">
                                                <i class="fa fa-clock-o fa-fw"></i> 13:00 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; RESERVADO
                                            </a>
                                            </button>
                                        </li>
                                        <li class="horario" style="background-color: #91e842;">
                                            <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                                            <a href="#">
                                                <i class="fa fa-clock-o fa-fw"></i> 14:00 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; LIBRE
                                            </a>
                                            </button>
                                        </li>
                                        <li class="horario" style="background-color: #91e842;">
                                            <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                                            <a href="#">
                                                <i class="fa fa-clock-o fa-fw"></i> 15:00 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; LIBRE
                                            </a>
                                            </button>
                                        </li>
                                        <li class="horario" style="background-color: #f16f5c;">
                                            <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                                            <a href="#">
                                                <i class="fa fa-clock-o fa-fw"></i> 16:00 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; RESERVADO
                                            </a>
                                            </button>
                                        </li>
                                        <li class="horario" style="background-color: #f16f5c;">
                                            <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                                            <a href="#">
                                                <i class="fa fa-clock-o fa-fw"></i> 17:00 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; RESERVADO
                                            </a>
                                            </button>
                                        </li>
                                        <li class="horario" style="background-color: #f16f5c;">
                                            <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                                            <a href="#">
                                                <i class="fa fa-clock-o fa-fw"></i> 18:00 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; RESERVADO
                                            </a>
                                            </button>
                                        </li>
                                        <li class="horario" style="background-color: #91e842;">
                                            <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                                            <a href="#">
                                                <i class="fa fa-clock-o fa-fw"></i> 19:00 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; LIBRE
                                            </a>
                                            </button>
                                        </li>
                                        <li class="horario" style="background-color: #f16f5c;">
                                            <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                                            <a href="#">
                                                <i class="fa fa-clock-o fa-fw"></i> 20:00 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; RESERVADO
                                            </a>
                                            </button>
                                        </li>
                                        <li class="horario" style="background-color: #f16f5c;">
                                            <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                                            <a href="#">
                                                <i class="fa fa-clock-o fa-fw"></i> 21:00 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; RESERVADO
                                            </a>
                                            </button>
                                        </li>
                                        <li class="horario" style="background-color: #f16f5c;">
                                            <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                                            <a href="#">
                                                <i class="fa fa-clock-o fa-fw"></i> 22:00 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; RESERVADO
                                            </a>
                                            </button>
                                        </li>
                                        <li class="horario" style="background-color: #f16f5c;">
                                            <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                                            <a href="#">
                                                <i class="fa fa-clock-o fa-fw"></i> 23:00 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; RESERVADO
                                            </a>
                                            </button>
                                        </li>
                                    </div> 
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /#panel_principal -->
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
    {% include "pie.html" %}
    <script>
        $(document).ready(function() {
            $('#dataTables-example').DataTable({
                responsive: true
            });
        });
    </script>
</body>
</html>