<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="es">
    <!--<![endif]-->
    <!-- BEGIN HEAD -->
    {% include "cabecera.html" %}
    <body class="page-header-fixed page-sidebar-closed-hide-logo page-container-bg-solid">
        <!-- BEGIN HEADER -->
        <div class="page-header navbar navbar-fixed-top">
            <!-- /.navbar-top-links -->
            {% include "barra_top.html" %}
            <!-- /.navbar-static-side -->
            {% include "barra_lat.html" %}
        </div>
        <!-- BEGIN HEADER & CONTENT DIVIDER -->
        <div class="clearfix"> </div>
        <!-- END HEADER & CONTENT DIVIDER -->
        <!-- BEGIN CONTAINER -->
        <div class="page-container">

            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                    <div id="page-wrapper">

                        <!-- <h1 class="page-title"> Formulario de Alta de Complejo.
                            <small>Algún comentario en letra chica o nada...</small>
                        </h1> -->
                        <!-- <div class="page-bar">
                            <ul class="page-breadcrumb">
                                <li>
                                    <i class="icon-home"></i>
                                    <a href="index.html">Home</a>
                                    <i class="fa fa-angle-right"></i>
                                </li>
                                <li>
                                    <span>Form Stuff</span>
                                </li>
                            </ul>
                            <div class="page-toolbar">
                                <div class="btn-group pull-right">
                                    <button type="button" class="btn btn-fit-height grey-salt dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true"> Actions
                                        <i class="fa fa-angle-down"></i>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        <li>
                                            <a href="#">
                                                <i class="icon-bell"></i> Action</a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="icon-shield"></i> Another action</a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="icon-user"></i> Something else here</a>
                                        </li>
                                        <li class="divider"> </li>
                                        <li>
                                            <a href="#">
                                                <i class="icon-bag"></i> Separated link</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div> -->
                        <!-- END PAGE HEADER-->
                        <div class="row">
                            <div class="col-sm-12">
                                <!-- BEGIN VALIDATION STATES-->
                                <div class="portlet light portlet-fit portlet-form ">
                                    <div class="portlet-title">
                                        <div class="caption">
                                            <i class=" icon-list font-red"></i>
                                            <span class="caption-subject font-red sbold uppercase">Datos del Complejo</span>
                                        </div>
                                        <div class="actions">
                                            <a class="btn btn-circle btn-icon-only blue" href="javascript:;">
                                                <i class="icon-cloud-upload"></i>
                                            </a>
                                            <a class="btn btn-circle btn-icon-only green" href="javascript:;">
                                                <i class="icon-wrench"></i>
                                            </a>
                                            <a class="btn btn-circle btn-icon-only red" href="javascript:;">
                                                <i class="icon-trash"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="portlet-body">
                                        <!-- BEGIN FORM-->
                                        <form action="#">
                                            <div class="form-body">
                                                <div class="row">
                                                    <div class="col-sm-4">
                                                        <div class="form-group form-md-line-input form-md-floating-label has-info">
                                                            <div class="input-group">
                                                                <input type="text" class="form-control" id="form_control_1" placeholder="{{ complejo_sel.nombre }}" readonly>
                                                                <label for="form_control_1">Nombre</label>
                                                                <span class="input-group-addon">
                                                                    <i class="fa fa-user"></i>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <div class="form-group form-md-line-input form-md-floating-label has-info">
                                                            <div class="input-group">
                                                                <input type="text" class="form-control" id="form_control_1" placeholder="{{ complejo_sel.direccion }}" readonly>
                                                                <label for="form_control_1">Dirección</label>
                                                                <span class="input-group-addon">
                                                                    <i class="fa fa-map-marker"></i>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <div class="form-group form-md-line-input form-md-floating-label has-info">
                                                            <div class="input-group">
                                                                <input type="text" class="form-control" id="form_control_1" placeholder="{{ complejo_sel.telefono }}" readonly>
                                                                <label for="form_control_1">Teléfono</label>
                                                                <span class="input-group-addon">
                                                                    <i class="fa fa-phone-square"></i>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-4">
                                                        <div class="form-group form-md-line-input form-md-floating-label has-info">
                                                            <div class="input-group">
                                                                <input type="text" class="form-control" id="form_control_1" placeholder="{{ complejo_sel.email }}" readonly>
                                                                <label for="form_control_1">e-Mail</label>
                                                                <span class="input-group-addon">
                                                                    <i class="fa fa-envelope"></i>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <div class="form-group form-md-line-input form-md-floating-label has-info">
                                                            <div class="input-group">
                                                                <input type="text" class="form-control" id="form_control_1" placeholder="{{ complejo_sel.web }}" readonly>
                                                                <label for="form_control_1">Web</label>
                                                                <span class="input-group-addon">
                                                                    <i class="fa fa-globe"></i>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <div class="form-group form-md-line-input form-md-floating-label has-info">
                                                            <div class="input-group">
                                                                <input type="text" class="form-control" id="form_control_1" placeholder="{{ complejo_sel.facebook }}" readonly>
                                                                <label for="form_control_1">Facebook</label>
                                                                <span class="input-group-addon">
                                                                    <i class="fa fa-facebook-square"></i>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-8">
                                                        <div class="form-group form-md-checkboxes">
                                                            <label class="col-sm-12 control-label centrado borde">Servicios</label>
                                                            <div class="col-sm-6">
                                                                <div class="md-checkbox-list">
                                                                    <div class="md-checkbox">
                                                                        <input type="checkbox" id="checkbox1_1" class="md-check" checked disabled>
                                                                        <label for="checkbox1_1">
                                                                            <span class="check"></span>
                                                                            <span class="check"></span>
                                                                            <span class="box"></span>Vestuarios
                                                                        </label>
                                                                    </div>
                                                                    <div class="md-checkbox">
                                                                        <input type="checkbox" id="checkbox1_2" class="md-check" checked disabled>
                                                                        <label for="checkbox1_2">
                                                                            <span></span>
                                                                            <span class="check"></span>
                                                                            <span class="box"></span>
                                                                            Duchas</label>
                                                                    </div>
                                                                    <div class="md-checkbox">
                                                                        <input type="checkbox" id="checkbox1_3" class="md-check" checked disabled>
                                                                        <label for="checkbox1_3">
                                                                            <span></span>
                                                                            <span class="check"></span>
                                                                            <span class="box"></span>Bar</label>
                                                                    </div>
                                                                    <div class="md-checkbox">
                                                                        <input type="checkbox" id="checkbox1_4" class="md-check" disabled>
                                                                        <label for="checkbox1_4">
                                                                            <span></span>
                                                                            <span class="check"></span>
                                                                            <span class="box"></span>Restaurant</label>
                                                                    </div>
                                                                    <div class="md-checkbox">
                                                                        <input type="checkbox" id="checkbox1_5" class="md-check" disabled>
                                                                        <label for="checkbox1_5">
                                                                            <span></span>
                                                                            <span class="check"></span>
                                                                            <span class="box"></span>Parrilla</label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <div class="md-checkbox-list">
                                                                    <div class="md-checkbox">
                                                                        <input type="checkbox" id="checkbox1_6" class="md-check" checked disabled>
                                                                        <label for="checkbox1_6">
                                                                            <span></span>
                                                                            <span class="check"></span>
                                                                            <span class="box"></span>Wifi</label>
                                                                    </div>
                                                                    <div class="md-checkbox">
                                                                        <input type="checkbox" id="checkbox1_7" class="md-check" checked disabled>
                                                                        <label for="checkbox1_7">
                                                                            <span></span>
                                                                            <span class="check"></span>
                                                                            <span class="box"></span>TV</label>
                                                                    </div>
                                                                    <div class="md-checkbox">
                                                                        <input type="checkbox" id="checkbox1_8" class="md-check" checked disabled>
                                                                        <label for="checkbox1_8">
                                                                            <span></span>
                                                                            <span class="check"></span>
                                                                            <span class="box"></span>Seguridad</label>
                                                                    </div>
                                                                    <div class="md-checkbox">
                                                                        <input type="checkbox" id="checkbox1_9" class="md-check" checked disabled>
                                                                        <label for="checkbox1_9">
                                                                            <span></span>
                                                                            <span class="check"></span>
                                                                            <span class="box"></span>Estacionamiento</label>
                                                                    </div>
                                                                    <div class="md-checkbox">
                                                                        <input type="checkbox" id="checkbox1_10" class="md-check" disabled>
                                                                        <label for="checkbox1_10">
                                                                            <span></span>
                                                                            <span class="check"></span>
                                                                            <span class="box"></span>Tarjeta de Débito/Crédito</label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <div class="form-group form-md-checkboxes">
                                                            <label class="col-sm-12 control-label centrado borde">Eventos</label>
                                                            <div class="col-sm-12">
                                                                <div class="md-checkbox-list">
                                                                    <div class="md-checkbox">
                                                                        <input type="checkbox" id="checkbox2_1" class="md-check" checked disabled>
                                                                        <label for="checkbox2_1">
                                                                            <span></span>
                                                                            <span class="check"></span>
                                                                            <span class="box"></span>Festejos</label>
                                                                    </div>
                                                                    <div class="md-checkbox">
                                                                        <input type="checkbox" id="checkbox2_2" class="md-check" checked disabled>
                                                                        <label for="checkbox2_2">
                                                                            <span></span>
                                                                            <span class="check"></span>
                                                                            <span class="box"></span>Escuelita</label>
                                                                    </div>
                                                                    <div class="md-checkbox">
                                                                        <input type="checkbox" id="checkbox2_3" class="md-check" checked disabled>
                                                                        <label for="checkbox2_3">
                                                                            <span></span>
                                                                            <span class="check"></span>
                                                                            <span class="box"></span>Torneos</label>
                                                                    </div>
                                                                    <div class="md-checkbox">
                                                                        <input type="checkbox" id="checkbox2_4" class="md-check" checked disabled>
                                                                        <label for="checkbox2_4">
                                                                            <span></span>
                                                                            <span class="check"></span>
                                                                            <span class="box"></span>Colegios</label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                        <!-- END FORM-->
                                    </div>
                                </div>
                                <!-- END VALIDATION STATES-->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END CONTENT BODY -->
            </div>
            <!-- END CONTENT -->

        </div>
        <!-- END CONTAINER -->
        {% include "pie.html" %}
        
    </body>

</html>