<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="es">
    <!--<![endif]-->
    <!-- BEGIN HEAD -->
    {% include "cabecera.html" %}
    <body class="page-header-fixed page-sidebar-closed-hide-logo page-container-bg-solid">
        <!-- BEGIN HEADER -->
        <div class="page-header navbar navbar-fixed-top">
            <!-- /.navbar-top-links -->
            {% include "barra_top.html" %}
            <!-- /.navbar-static-side -->
            {% include "barra_lat.html" %}
        </div>
        <!-- BEGIN HEADER & CONTENT DIVIDER -->
        <div class="clearfix"> </div>
        <!-- END HEADER & CONTENT DIVIDER -->
        <!-- BEGIN CONTAINER -->
        <div class="page-container">

            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                    <div id="page-wrapper">

                        <!-- <h1 class="page-title"> Formulario de Alta de Cancha.
                            <small>Algún comentario en letra chica o nada...</small>
                        </h1> -->
                        <!-- <div class="page-bar">
                            <ul class="page-breadcrumb">
                                <li>
                                    <i class="icon-home"></i>
                                    <a href="index.html">Home</a>
                                    <i class="fa fa-angle-right"></i>
                                </li>
                                <li>
                                    <span>Form Stuff</span>
                                </li>
                            </ul>
                            <div class="page-toolbar">
                                <div class="btn-group pull-right">
                                    <button type="button" class="btn btn-fit-height grey-salt dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true"> Actions
                                        <i class="fa fa-angle-down"></i>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        <li>
                                            <a href="#">
                                                <i class="icon-bell"></i> Action</a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="icon-shield"></i> Another action</a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="icon-user"></i> Something else here</a>
                                        </li>
                                        <li class="divider"> </li>
                                        <li>
                                            <a href="#">
                                                <i class="icon-bag"></i> Separated link</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div> -->
                        <!-- END PAGE HEADER-->
                        <div class="row">
                            <div class="col-sm-12">
                                <!-- BEGIN VALIDATION STATES-->
                                <div class="portlet light portlet-fit portlet-form ">
                                    <div class="portlet-title">
                                        <div class="caption">
                                            <i class=" icon-list font-red"></i>
                                            <span class="caption-subject font-red sbold uppercase">Agregar Cancha</span>
                                        </div>
                                        <div class="actions">
                                            <a class="btn btn-circle btn-icon-only blue" href="javascript:;">
                                                <i class="icon-cloud-upload"></i>
                                            </a>
                                            <a class="btn btn-circle btn-icon-only green" href="javascript:;">
                                                <i class="icon-wrench"></i>
                                            </a>
                                            <a class="btn btn-circle btn-icon-only red" href="javascript:;">
                                                <i class="icon-trash"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="portlet-body">
                                        <!-- BEGIN FORM-->
                                        <form action="#">
                                            <div class="form-body">
                                                <div class="row">
                                                    <div class="col-sm-4">
                                                        <div class="form-group form-md-line-input form-md-floating-label has-info">
                                                            <div class="input-group">
                                                                <input type="text" class="form-control" id="form_control_1">
                                                                <label for="form_control_1">Nombre</label>
                                                                <span class="help-block">Nombre de la Cancha</span>
                                                                <span class="input-group-addon">
                                                                    <i class="fa fa-user"></i>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <div class="form-group form-md-line-input form-md-floating-label has-info">
                                                            <select class="form-control" name="">
                                                                <option value=""></option>
                                                                <option value="1">Sintético</option>
                                                                <option value="2">Baldosa</option>
                                                                <option value="3">Flotante</option>
                                                                <option value="4">Carpeta</option>
                                                                <option value="5">Polvo de ladrillo</option>
                                                            </select>
                                                            <label for="form_control_1">Superficie</label>
                                                            <span class="help-block">Tipo de superficie de la Cancha</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <div class="form-group form-md-line-input form-md-floating-label has-info">
                                                            <div class="input-group">
                                                                <input type="text" class="form-control" id="form_control_1">
                                                                <label for="form_control_1">Precio</label>
                                                                <span class="help-block">Precio de la Cancha</span>
                                                                <span class="input-group-addon">
                                                                    <i class="fa fa-usd"></i>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                                <div class="row">
                                                    <div class="col-sm-4">
                                                        <div class="form-group form-md-line-input form-md-floating-label has-info">
                                                            <select class="form-control" name="">
                                                                <option value=""></option>
                                                                <option value="1">1</option>
                                                                <option value="2">2</option>
                                                                <option value="3">3</option>
                                                                <option value="4">4</option>
                                                                <option value="5">5</option>
                                                                <option value="6">6</option>
                                                                <option value="7">7</option>
                                                                <option value="8">8</option>
                                                                <option value="9">9</option>
                                                                <option value="10">10</option>
                                                                <option value="11">11</option>
                                                            </select>
                                                            <label for="form_control_1">Cant. Jugadores</label>
                                                            <span class="help-block">Cantidad de jugadores de la Cancha</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <div class="form-group form-md-checkboxes">
                                                            <label class="col-sm-12 control-label centrado borde">Deporte</label>
                                                            <div class="col-sm-12">
                                                                <div class="md-checkbox-list">
                                                                    <div class="md-checkbox">
                                                                        <input type="checkbox" id="checkbox1_1" class="md-check">
                                                                        <label for="checkbox1_1">
                                                                            <span></span>
                                                                            <span class="check"></span>
                                                                            <span class="box"></span>Futbol</label>
                                                                    </div>
                                                                    <div class="md-checkbox">
                                                                        <input type="checkbox" id="checkbox1_2" class="md-check">
                                                                        <label for="checkbox1_2">
                                                                            <span></span>
                                                                            <span class="check"></span>
                                                                            <span class="box"></span>Hockey</label>
                                                                    </div>
                                                                    <div class="md-checkbox">
                                                                        <input type="checkbox" id="checkbox1_3" class="md-check">
                                                                        <label for="checkbox1_3">
                                                                            <span></span>
                                                                            <span class="check"></span>
                                                                            <span class="box"></span>Basket</label>
                                                                    </div>
                                                                    <div class="md-checkbox">
                                                                        <input type="checkbox" id="checkbox1_4" class="md-check">
                                                                        <label for="checkbox1_4">
                                                                            <span></span>
                                                                            <span class="check"></span>
                                                                            <span class="box"></span>Tenis</label>
                                                                    </div>
                                                                    <div class="md-checkbox">
                                                                        <input type="checkbox" id="checkbox1_5" class="md-check">
                                                                        <label for="checkbox1_5">
                                                                            <span></span>
                                                                            <span class="check"></span>
                                                                            <span class="box"></span>Handball</label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                                    <div class="col-sm-4">
                                                        <div class="form-group form-md-checkboxes">
                                                            <label class="col-sm-12 control-label centrado borde">Características</label>
                                                            <div class="col-sm-12">
                                                                <div class="md-checkbox-list">
                                                                    <div class="md-checkbox">
                                                                        <input type="checkbox" id="checkbox2_1" class="md-check">
                                                                        <label for="checkbox2_1">
                                                                            <span></span>
                                                                            <span class="check"></span>
                                                                            <span class="box"></span>Techada</label>
                                                                    </div>
                                                                    <div class="md-checkbox">
                                                                        <input type="checkbox" id="checkbox2_2" class="md-check">
                                                                        <label for="checkbox2_2">
                                                                            <span></span>
                                                                            <span class="check"></span>
                                                                            <span class="box"></span>Luz</label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-actions centrado">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <a href="javascript:;" class="btn green">Guardar</a>
                                                        <a href="javascript:;" class="btn red">Cancelar</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                        <!-- END FORM-->
                                    </div>
                                </div>
                                <!-- END VALIDATION STATES-->
                            </div>
                        </div>
                        
                    </div>
                </div>
                <!-- END CONTENT BODY -->
            </div>
            <!-- END CONTENT -->

        </div>
        <!-- END CONTAINER -->
        {% include "pie.html" %}

    </body>

</html>