{% load static %}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
    <!--<![endif]-->
    <!-- BEGIN HEAD -->

    <head>
        <meta charset="utf-8" />
        <title>P1 - Log In</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta content="Preview page of Metronic Admin Theme #2 for " name="description" />
        <meta content="" name="author" />
        <!-- BEGIN GLOBAL MANDATORY STYLES -->
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
        <link href="{% static 'web/assets/css/font-awesome.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'web/assets/css/simple-line-icons.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'web/assets/css/bootstrap.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'web/assets/css/bootstrap-switch.css' %}" rel="stylesheet" type="text/css" />
        <!-- END GLOBAL MANDATORY STYLES -->
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <link href="{% static 'web/assets/css/select2.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'web/assets/css/select2-bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
        <!-- END PAGE LEVEL PLUGINS -->
        <!-- BEGIN THEME GLOBAL STYLES -->
        <link href="{% static 'web/assets/css/components-rounded.css' %}" rel="stylesheet" id="style_components" type="text/css" />
        <link href="{% static 'web/assets/css/plugins.css' %}" rel="stylesheet" type="text/css" />
        <!-- END THEME GLOBAL STYLES -->
        <!-- BEGIN PAGE LEVEL STYLES -->
        <link href="{% static 'web/assets/css/login-4.css' %}" rel="stylesheet" type="text/css" />
        <!-- END PAGE LEVEL STYLES -->
        <!-- BEGIN THEME LAYOUT STYLES -->
        <!-- END THEME LAYOUT STYLES -->
        <link rel="shortcut icon" href="favicon.ico" /> 

        <style type="text/css">
            #home {
                background: url("{% static 'landing/images/home-bg.jpg' %}") no-repeat;
                background-size: cover;
                color: #fff;
                margin-top: 70px;
                text-align: center;
                width: 100%;
            }
        </style>
    </head>
    <!-- END HEAD -->

    <body id="home" class=" login">
        <!-- BEGIN LOGO -->
        <div class="logo">
            <a href="index.html">
                <img src="{% static 'web/assets/img/logo-big.png' %}" alt="" /> </a>
        </div>
        <!-- END LOGO -->
        <!-- BEGIN LOGIN -->
        <div class="content">
            <!-- BEGIN LOGIN FORM -->
            <form class="login-form" action="/ingresar/" method="post">{% csrf_token %}
                <h3 class="form-title">Ingresa a tu cuenta</h3>
                {% if mensaje %}
                <div class="alert alert-danger display-show">
                    <button class="close" data-close="alert"></button>
                    <span>{{ mensaje }}</span>
                </div>
                {% endif %}
                <div class="form-group">
                    <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                    <label class="control-label visible-ie8 visible-ie9">Email</label>
                    <div class="input-icon">
                        <i class="fa fa-user"></i>
                        <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="email" name="email" /> </div>
                </div>
                <div class="form-group">
                    <label class="control-label visible-ie8 visible-ie9">Password</label>
                    <div class="input-icon">
                        <i class="fa fa-lock"></i>
                        <input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="Password" name="password" /> </div>
                </div>
                <div class="form-actions">
                    <label class="rememberme mt-checkbox mt-checkbox-outline">
                        <input type="checkbox" name="remember" value="1" /> Recordame
                        <span></span>
                    </label>
                    <button type="submit" class="btn green pull-right"> Login </button>
                </div>
                <!--div class="login-options">
                    <h4>Or login with</h4>
                    <ul class="social-icons">
                        <li>
                            <a class="facebook" data-original-title="facebook" href="javascript:;"> </a>
                        </li>
                        <li>
                            <a class="twitter" data-original-title="Twitter" href="javascript:;"> </a>
                        </li>
                        <li>
                            <a class="googleplus" data-original-title="Goole Plus" href="javascript:;"> </a>
                        </li>
                        <li>
                            <a class="linkedin" data-original-title="Linkedin" href="javascript:;"> </a>
                        </li>
                    </ul>
                </div -->
                <div class="forget-password">
                    <h4>Olvidaste tu password ?</h4>
                    <p> no te preocupes, click
                        <a style="color: #1aeaa7;" href="javascript:;" id="forget-password"> AQUI </a> resetear tu password. </p>
                </div>
                <div class="create-account">
                    <p> Todavia no tenes tu cuenta ?&nbsp;
                        <a style="color: #1aeaa7;" href="javascript:;" id="register-btn"> CREATE UNA! </a>
                    </p>
                </div>
            </form>
            <!-- END LOGIN FORM -->
            <!-- BEGIN FORGOT PASSWORD FORM -->
            <form class="forget-form" action="index.html" method="post">
                <h3>Olvidaste tu password ?</h3>
                <p> Ingresa tu mail y te enviaremos tu nuevo password. </p>
                <div id="result" style="display:none;" class="alert alert-success"></div>
                <div id="error"  style="display:none;" class="alert alert-danger"></div>
                <div class="form-group">
                    <div class="input-icon">
                        <i class="fa fa-envelope"></i>
                        <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Email" name="email" /> </div>
                </div>
                <div class="form-actions">
                    <button type="button" id="back-btn" class="btn red btn-outline">Volver </button>
                    <button type="submit" class="btn green pull-right"> Enviar </button>
                </div>
            </form>
            <!-- END FORGOT PASSWORD FORM -->
            <!-- BEGIN REGISTRATION FORM -->
            <form class="register-form" action="/registrarse/" method="post">{% csrf_token %}
                <h3>Registrate</h3>
                {% if mensaje_nuevo %}
                <div class="alert alert-danger display-show">
                    <button class="close" data-close="alert"></button>
                    <span>{{ mensaje_nuevo }}</span>
                </div>
                {% endif %}
                <p> Completa los campos a continuacion: </p>
                <div class="form-group">
                    <label class="control-label visible-ie8 visible-ie9">Nombre y Apellido</label>
                    <div class="input-icon">
                        <i class="fa fa-font"></i>
                        <input class="form-control placeholder-no-fix" type="text" placeholder="Nombre y Apellido" name="fullname" /> </div>
                </div>
                <div class="form-group">
                    <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                    <label class="control-label visible-ie8 visible-ie9">Email</label>
                    <div class="input-icon">
                        <i class="fa fa-envelope"></i>
                        <input class="form-control placeholder-no-fix" type="text" placeholder="Email" name="email" /> </div>
                </div>
                <div class="form-group">
                    <label class="control-label visible-ie8 visible-ie9">Telefono</label>
                    <div class="input-icon">
                        <i class="fa fa-check"></i>
                        <input class="form-control placeholder-no-fix" type="text" placeholder="Telefono" name="telefono" /> </div>
                </div>
                <p> Datos de la cuenta (tu mail sera tu usuario): </p>
                <div class="form-group">
                    <label class="control-label visible-ie8 visible-ie9">Nombre del Complejo</label>
                    <div class="input-icon">
                        <i class="fa fa-user"></i>
                        <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Nombre del Complejo" name="complejo" /> </div>
                </div>
                <div class="form-group">
                    <label class="control-label visible-ie8 visible-ie9">Password</label>
                    <div class="input-icon">
                        <i class="fa fa-lock"></i>
                        <input class="form-control placeholder-no-fix" type="password" autocomplete="off" id="register_password" placeholder="Password" name="password" /> </div>
                </div>
                <div class="form-group">
                    <label class="control-label visible-ie8 visible-ie9">Repetir Password</label>
                    <div class="controls">
                        <div class="input-icon">
                            <i class="fa fa-check"></i>
                            <input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="Re-type Your Password" name="rpassword" /> </div>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="mt-checkbox mt-checkbox-outline">
                        <input type="checkbox" name="tnc" /> Acepto
                        <a style="color: #1aeaa7;" href="javascript:;">Terminos y Condiciones </a> &
                        <a style="color: #1aeaa7;" href="javascript:;">Politica de privacidad </a>
                        <span></span>
                    </label>
                    <div id="register_tnc_error"> </div>
                </div>
                <div class="form-actions">
                    <button id="register-back-btn" type="button" class="btn red btn-outline"> Volver </button>
                    <button type="submit" id="register-submit-btn" class="btn green pull-right"> Enviar </button>
                </div>
            </form>
            <!-- END REGISTRATION FORM -->
        </div>
        <!-- END LOGIN -->
        <!-- BEGIN COPYRIGHT -->
        <div style="background: url(/static/web/assets/img/bg-opacity.png) repeat; width: 360px;
    margin: 0 auto;"  class="copyright"> 2017 &copy; Galcubo - Player One. </div>
        <!-- END COPYRIGHT -->
        <!--[if lt IE 9]>
<script src="{% static 'web/assets/global/plugins/respond.min.js"></script>
<script src="{% static 'web/assets/global/plugins/excanvas.min.js"></script> 
<script src="{% static 'web/assets/global/plugins/ie8.fix.min.js"></script> 
<![endif]-->
        <!-- BEGIN CORE PLUGINS -->
        <script src="{% static 'web/assets/js/jquery.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'web/assets/js/bootstrap.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'web/assets/js/js.cookie.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'web/assets/js/jquery.slimscroll.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'web/assets/js/jquery.blockui.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'web/assets/js/bootstrap-switch.min.js' %}" type="text/javascript"></script>
        <!-- END CORE PLUGINS -->
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <script src="{% static 'web/assets/js/jquery.validate.js' %}" type="text/javascript"></script>
        <script src="{% static 'web/assets/js/additional-methods.js' %}" type="text/javascript"></script>
        <script src="{% static 'web/assets/js/select2.full.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'web/assets/js/jquery.backstretch.min.js' %}" type="text/javascript"></script>
        <!-- END PAGE LEVEL PLUGINS -->
        <!-- BEGIN THEME GLOBAL SCRIPTS -->
        <script src="{% static 'web/assets/js/app.min.js' %}" type="text/javascript"></script>
        <!-- END THEME GLOBAL SCRIPTS -->
        <!-- BEGIN PAGE LEVEL SCRIPTS -->
        <script src="{% static 'web/assets/js/login-4.js' %}" type="text/javascript"></script>
        <!-- END PAGE LEVEL SCRIPTS -->
        <!-- BEGIN THEME LAYOUT SCRIPTS -->
        <!-- END THEME LAYOUT SCRIPTS -->
        <script type="text/javascript">

            function recuperar(){

                $.ajax({
                    method: "POST",
                    url: "/recuperar/",
                    data: { email: $("#email").val() },
                    dataType: "json"
                }).done(function(retorno) {
                    if (retorno.error == ""){
                        $("#result").html(retorno.result);
                        $("#result").show();
                        $("#error").hide();
                    }else{
                        $("#error").html(retorno.error);
                        $("#error").show();
                        $("#result").hide();
                    }
                });

            }
        </script>

    </body>

</html>